.autocomplete-content {
  position: relative;
}

.blue {
  background-color: #0074b7 !important;
}

.image-preview {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.sweet-alert fieldset {
  display: none !important;
}